In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
pd = pd.read_csv('Data scientist.csv')

In [6]:
TTQ = pd[['Title', 'Job Type', 'Qualifications']]

In [36]:
TTQ

,Title,Job Type,Qualifications
0,DATA SCIENTIST (NORTH AMERICA DIGITAL MARKETPL...,NaN,NaN
1,Junior Data Scientist,"['Full-time', 'Contract']","[""Master's (Preferred)"", 'Python: 1 year (Pref..."
2,"Data Scientist, Analytics",['Full-time'],NaN
3,Data Scientist,['Full-time'],"[""Bachelor's (Preferred)""]"
4,Data Scientist,['Full-time'],"[""Bachelor's (Preferred)""]"
...,...,...,...
915,"Senior Associate, Data Scientist, NLP",NaN,NaN
916,"Senior Data Analyst, Finance",NaN,NaN
917,"Senior Associate, AI, NLP Data Modeler",NaN,NaN
918,"AI/ML — iOS/macOS Senior Software Engineer, Ma...",NaN,NaN
919,Sr. AI Software Engineer - Data Scientist,NaN,NaN

In [22]:
TTQ.groupby('Title')['Title'].count().sort_values(ascending=False).head(10)

Title
Data Scientist               188
Senior Data Analyst           41
Senior Data Scientist         25
Machine Learning Engineer     23
Sr. Data Analyst              14
Principal Data Scientist      11
Sr. Data Scientist            10
Data Scientist II              9
Associate Data Scientist       7
Data Analyst                   6
Name: Title, dtype: int64

In [32]:
qulifications = TTQ[~TTQ['Qualifications'].isna()]['Qualifications'].tolist()

In [124]:
#data cleaning
allQ = [re.sub(f'["\'\[\]\)]', '',j) for i in qulifications for j in i.split(', \'')]
pd_skills = pd.DataFrame([i.split('(') for i in allQ], columns=['skills', 'required', 'extra'])[['skills', 'required']]
pd_skills['skills'] = pd_skills['skills'].str.replace(',', ':')
pd_skills[['skill', 'year']] = pd_skills.skills.str.split(':', expand=True)
pd_cleaned = pd_skills[['skill', 'year', 'required']]

In [122]:
#required skill
pd_cleaned[pd_cleaned['required'] == 'Required'].groupby('skill')['skill'].count().sort_values(ascending=False)

skill
Bachelors                      21
Python                         13
US work authorization          11
SQL                            11
Masters                         7
Machine learning                6
R                               4
Machine Learning                4
Natural language processing     3
Data Scientist                  3
Tableau                         3
Quantitative analysis           3
NLP                             2
Top Secret                      2
TensorFlow                      2
mathematics/statistics          2
Marketing                       2
Database design                 2
Data science                    2
Analytics                       1
Mathematical models             1
Pytorch                         1
Doctorate                       1
Relational databases            1
Secret                          1
Spark                           1
Data Science and SaaS           1
Computer vision                 1
Artificial Intelligence         1
AI                              1
Name: skill, dtype: int64

In [123]:
#preferred skill
pd_cleaned[pd_cleaned['required'] == 'Preferred'].groupby('skill')['skill'].count().sort_values(ascending=False)

skill
Bachelors                                  26
SQL                                        24
Python                                     23
Masters                                     8
Data analysis skills                        4
US work authorization                       4
High school or equivalent                   4
R                                           3
SAS                                         3
Data mining                                 3
Machine learning                            3
Agile                                       3
Java                                        3
ETL                                         2
REST                                        2
Kubernetes                                  2
Technology Business development & Sales     2
Deep learning                               2
Data scientist                              2
Data science                                2
XML                                         2
data collection                             2
data processing                             2
Azure                                       2
Ansible                                     2
Python and/or R                             1
Software development                        1
Secret                                      1
Salesforce                                  1
VBA                                         1
AWS                                         1
Machine Learning                            1
Natural language processing                 1
NGS Data Analysis                           1
Medical terminology                         1
Medical coding                              1
Linux                                       1
LCMS or mass Spectrometry or HPLC           1
JavaScript                                  1
Doctorate                                   1
Data visualization                          1
Data modeling                               1
Data Science                                1
Confidential                                1
C + +                                       1
laboratory Data analysis                    1
Name: skill, dtype: int64